@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    College Of Business and Law, Cab: 418<br />
    <abbr title="Phone">Viber number:</abbr>
    +375-33-397-06-62
</address>

<address>
    <strong>Main Administrators:</strong>   <a href="mailto:furyredux@gmail.com">furyredux@gmail.com.com</a>
    ,<a href="mailto:furyredux@gmail.com"> pivovar.andrew.blr@gmail.com.com</a><br />
    <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>