@model IEnumerable<WebApplicationProject.Models.News>

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    @foreach (WebApplicationProject.Models.News item in Model)
    {
        <div class="article">
            <header class="article-header">@item.header</header>
            <article class="article-info">@item.info</article>
        </div>
    }
</div>